{% extends "base.html" %}


{% block body %}
    <!-- ################# Slider Starts Here#######################--->

      <!--  ************************* Page Title Starts Here ************************** -->
               <div class="page-nav no-margin row">
                   <div class="container">
                       <div class="row">
                           <h2>Events</h2>
                           <ul>
                               <li> <a href="#"><i class="fas fa-home"></i> Home</a></li>
                               <li><i class="fas fa-angle-double-right"></i> Events</li>
                           </ul>
                       </div>
                   </div>
               </div>

    <!-- ######## Page  Title End ####### -->

    <!-- ################# Events Start Here#######################--->
    <section class="events">
        <div class="container">

            <div class="event-ro row">
                <div class="col-md-4 col-sm-6">
                    <div class="event-box">
                        <img src="src/images/events/image_08.jpg" alt="">
                        <h4>Child Education in India</h4>
                        <p class="raises"><span>Raised : 34,425</span> / 500,000 </p>
                        <p class="desic">Lorem Ipsum is simply dummy text of the printing and typesetting industry.  Lorem Ipsum has been the industry's </p>
                        <a href="donate"> <div class="btn btn-success  bounceInUp"> Donate Now </div></a>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6">
                    <div class="event-box">
                        <img src="src/images/events/image_06.jpg" alt="">
                        <h4>Child Education in India</h4>
                        <p class="raises"><span>Raised : 34,425</span> / 500,000 </p>
                        <p class="desic">Lorem Ipsum is simply dummy text of the printing and typesetting industry.  Lorem Ipsum has been the industry's </p>
                        <a href="donate"> <div class="btn btn-success  bounceInUp"> Donate Now </div></a>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6">
                    <div class="event-box">
                        <img src="src/images/events/image_04.jpg" alt="">
                        <h4>Child Education in India</h4>
                        <p class="raises"><span>Raised : 34,425</span> / 500,000 </p>
                        <p class="desic">Lorem Ipsum is simply dummy text of the printing and typesetting industry.  Lorem Ipsum has been the industry's </p>
                        <a href="donate"> <div class="btn btn-success  bounceInUp"> Donate Now </div></a>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6">
                    <div class="event-box">
                        <img src="src/images/events/image_05.jpg" alt="">
                        <h4>Child Education in India</h4>
                        <p class="raises"><span>Raised : 34,425</span> / 500,000 </p>
                        <p class="desic">Lorem Ipsum is simply dummy text of the printing and typesetting industry.  Lorem Ipsum has been the industry's </p>
                        <a href="donate"> <div class="btn btn-success  bounceInUp"> Donate Now </div></a>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6">
                    <div class="event-box">
                        <img src="src/images/events/image_01.jpg" alt="">
                        <h4>Child Education in India</h4>
                        <p class="raises"><span>Raised : 34,425</span> / 500,000 </p>
                        <p class="desic">Lorem Ipsum is simply dummy text of the printing and typesetting industry.  Lorem Ipsum has been the industry's </p>
                        <a href="donate"> <div class="btn btn-success  bounceInUp"> Donate Now </div></a>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6">
                    <div class="event-box">
                        <img src="src/images/events/image_07.jpg" alt="">
                        <h4>Child Education in India</h4>
                        <p class="raises"><span>Raised : 34,425</span> / 500,000 </p>
                        <p class="desic">Lorem Ipsum is simply dummy text of the printing and typesetting industry.  Lorem Ipsum has been the industry's </p>
                        <a href="donate"> <div class="btn btn-success  bounceInUp"> Donate Now </div></a>
                    </div>
                </div>
            </div>
        </div>
    </section>

     <!-- ################# Footer Starts Here#######################--->

        <footer class="footer">
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-sm-12">
                    <h2>About Us</h2>
                    <p>

                    </p>
                    <p>We focus on technologies that promise to reduce costs, streamline processes and speed time-to-market, Backed by our strong quality processes and rich experience managing global... </p>
                </div>
                <div class="col-md-4 col-sm-12">
                    <h2>Useful Links</h2>
                    <ul class="list-unstyled link-list">
                      <li><a ui-sref="about" href="aboutus">About us</a><i class="fa fa-angle-right"></i></li>

                      <li><a ui-sref="contact" href="contact">Contact us</a><i class="fa fa-angle-right"></i></li>
                    </ul>
                </div>
                <div class="col-md-4 col-sm-12 map-img">
                    <h2>Contact Us</h2>


                </div>
            </div>
        </div>


    </footer>
    <div class="copy">
            <div class="container">


                <span>
                <a><i class="fab fa-github"></i></a>
                <a><i class="fab fa-google-plus-g"></i></a>
                <a><i class="fab fa-pinterest-p"></i></a>
                <a><i class="fab fa-twitter"></i></a>
                <a><i class="fab fa-facebook-f"></i></a>
        </span>
            </div>

        </div>


    </body>

<script src="src/js/jquery-3.2.1.min.js"></script>
<script src="src/js/popper.min.js"></script>
<script src="src/js/bootstrap.min.js"></script>
<script src="src/js/script.js"></script>


</html>
{% endblock %}
